%title {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* start live section*/
.live {

    .item-img {
      width: 175px !important;
      height: 80px !important;
      border: double 2.5px transparent;
      border-radius: 12px;
      background-image: linear-gradient(white, white), radial-gradient(circle at top left, #EE7E62, #83487C);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }



      .item-name {

        color: #fff;
        font-size: 19px;

      }


  .button{
    width: 90px;
    height: 32px;
    font-size: 18px;
    border-radius: 8px;
    --background: var(--ion-background-gradient);
    position: absolute;
    margin: auto;
    left: -40px;

  }

}


/* end live section*/
