<ion-header>


  <app-search-nav></app-search-nav>

  <div class="category mr-2 ml-2 mb-3" >

    <ion-slides pager="true" [options]="categoryOpts" >
      <ion-slide>
        <app-box></app-box>
      </ion-slide>
      <ion-slide>
        <app-box></app-box>
      </ion-slide>
      <ion-slide>
        <app-box></app-box>
      </ion-slide>
    </ion-slides>

  </div>
</ion-header>

<ion-content >


  <ion-item-group>
    <ion-item lines="none" color="light mb-2 mt-3" >
      <ion-label class="reco">Recommended for you</ion-label>
      <ion-text>See all </ion-text>
      <ion-img slot="end" src="assets/icons/right-arrow.svg"></ion-img>
    </ion-item>


    <ion-item lines="none" color="light">
      <ion-slides pager="true" [options]="cardOpts">
        <ion-slide>
          <app-card></app-card>
        </ion-slide>
        <ion-slide>
          <app-card></app-card>
        </ion-slide>
        <ion-slide>
          <app-card></app-card>
        </ion-slide>
      </ion-slides>
    </ion-item>

  </ion-item-group>
</ion-content>
