<div class="story-item">
  <ion-label>malak</ion-label>
  <ion-img src="assets/images/carosal-test.jpg"></ion-img>

  <ion-avatar class="active">
    <ion-img src="assets/images/carosal-test.jpg"></ion-img>
  </ion-avatar>
</div>
