.story-item{
  ion-avatar {
    position: relative;
    bottom: 30px;
    left: 32px;
    &.active {
      background: var(--ion-background-gradient);
      padding: 2px;
    }
  }

  ion-label {
    position: relative;
    top: 30px;
    color: #fff;
    font-size: 12px;
  }

}


ion-img::part(image) {
  border-radius: 12px;
}
