<ion-header>
  <app-top-nav></app-top-nav>
</ion-header>

<ion-content class="ion-padding">

  <ion-item-group>
    <ion-item lines="none" color="light">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <div class="float-section first"></div>
          <ion-img src="assets/images/carosal-test.jpg"></ion-img>
          <div class="float-section last"></div>
        </ion-slide>
        <ion-slide>
          <div class="float-section first"></div>
          <ion-img src="assets/images/carosal-test.jpg"></ion-img>
          <div class="float-section last"></div>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item lines="none" color="light">
      <ion-slides class="mt-4" pager="true" [options]="storyOpts">
        <ion-slide>
          <app-story></app-story>
        </ion-slide>
        <ion-slide>
          <app-story></app-story>
        </ion-slide>
        <ion-slide>
          <app-story></app-story>
        </ion-slide>
      </ion-slides>
    </ion-item>

    <ion-item lines="none" color="light mb-2" >
      <ion-label class="reco">Recommended for you</ion-label>
      <ion-text>See all </ion-text>
      <ion-img slot="end" src="assets/icons/right-arrow.svg"></ion-img>

    </ion-item>
    <ion-item lines="none" color="light">
      <ion-slides pager="true" [options]="storyOpts" >
        <ion-slide>
          <app-card></app-card>
        </ion-slide>
        <ion-slide>
          <app-card></app-card>
        </ion-slide>
        <ion-slide>
          <app-card></app-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
    <ion-item lines="none" color="light mt-5 mb-2" >
      <ion-label class="reco">Recommended for you</ion-label>
      <ion-img slot="end" src="assets/icons/category.svg"></ion-img>
      <ion-img  src="assets/icons/listView.svg"></ion-img>
    </ion-item>

    <ion-item lines="none" color="light" >
      <ion-grid>
        <ion-row>
          <ion-col>
            <app-card></app-card>
          </ion-col>
          <ion-col>
            <app-card></app-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-item-group>










</ion-content>
