<ion-header>
  <app-search-nav></app-search-nav>
</ion-header>

<ion-content class="ion-padding">

  
  <div class="live-section">
    <ion-slides  pager="true" [options]="storyOpts">
      <ion-slide>
        <app-live></app-live>
      </ion-slide>
      <ion-slide>
        <app-live></app-live>
      </ion-slide>
      <ion-slide>
        <app-live></app-live>
      </ion-slide>
    </ion-slides>

  </div>

  <div class="category " >

    <ion-slides pager="true" [options]="categoryOpts" >
      <ion-slide>
        <app-box></app-box>
      </ion-slide>
      <ion-slide>
        <app-box></app-box>
      </ion-slide>
      <ion-slide>
        <app-box></app-box>
      </ion-slide>
    </ion-slides>

  </div>


  <div class="lastest">
    <h4>Latest Bids</h4>
  </div>
</ion-content>
