.card-item{
  .float-group{
    position: absolute;
    top: -75px;
    .star-img{
      width: 20px;
    position: relative;
    right: 25px;
    }
  }
  ion-icon{
    position: absolute;
    top: 20px;
    color: #fff;
    right: 20px;
  }
  img{

    height:180px;
    border-radius: 12px;
  }


  ion-label{
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 10px;
    p{
      width: 110px;
      text-align: left;
      font-size: 12px;
      line-height: 1.4;
      white-space: pre-line;

    }
  }

  ion-note{
     float:right;
    font-size: 12px;
    color: #fff;

  }
}


ion-img::part(image) {
  border-radius: 12px;
}
