<div class="card-item">
  <div class="float-group">
    <img src="assets\icons\sponserRect.svg" style="width: 30px" />
    <img src="assets\icons\Vector.svg" class="star-img" />
  </div>

  <ion-icon name="play"></ion-icon>

  <img src="assets/images/carosal-test.jpg" />

  <ion-label>
    <ion-text>
      <p>UX designer to office UX designer to officeUX designer to office  <ion-note >2500</ion-note></p>

    </ion-text>

  </ion-label>
</div>
