
<ion-tabs>


  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button  routerLink="/home">

      <ion-img src="assets/icons/home.svg"></ion-img>

      <ion-label color="dark">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/explore" class="comments">
      <ion-img src="assets/icons/explore.svg"></ion-img>
      <ion-label color="dark">Explore</ion-label>
    </ion-tab-button>

    <ion-fab vertical="bottom" horizontal="center" translucent="true" routerLink="/auction">
      <ion-fab-button >
        <ion-img color="light" src="assets/icons/whiteauction.svg"></ion-img>

      </ion-fab-button>
    </ion-fab>

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="white" fill-rule="evenodd"></path></svg>

    <ion-tab-button routerLink="/groups" class="notifs">
      <ion-img src="assets/icons/teams.svg"></ion-img>
      <ion-label color="dark">Groups</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/account">
      <ion-img src="assets/icons/account.svg"></ion-img>
      <ion-label color="dark">Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
