ion-header{
    padding-top: var( --ion-padding-top);
}
ion-toolbar:last-of-type{
    --border-width:0;

}


ion-content{
    --background:#F7F4F5;
}



ion-button {
	ion-badge {
	    position: absolute;
    top: 0;
    z-index: 999;
    right: -5px;

		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
}