<ion-header>

  <ion-toolbar>
    <ion-text slot="start" ><h5 class="ml-2">Malak khaled</h5></ion-text>
    <ion-buttons slot="end">
      <ion-button ion-button icon-only>
        <ion-badge color="danger">8</ion-badge>
        <img src="assets/icons/notification.svg" />
      </ion-button>


      <ion-button>
        <ion-img src="assets/icons/menu.svg"></ion-img>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>


</ion-header>


<ion-content class="ion-padding">
  <ion-text>
    <h1>Account</h1>
  </ion-text>
</ion-content>















<!--
    <ion-avatar slot="end" >
      <ion-badge style="position: absolute">5</ion-badge>
      <img src="assets/icons/notification.svg" />
    </ion-avatar>
-->